.card {
    background-color: white;
    /*border: 1px solid var(--color-blue-dark);*/

    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    /*margin-bottom: 0;*/

    cursor: pointer;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    transition: background-color .2s, color .2s
}

.card:hover {
    /*border: 1px solid var(--color-black);*/
    background-color: var(--color-blue-dark) !important;
    color: white;

    /*transition: 1s background-color;*/
}

.card:hover .circle {
    /*border: solid 2px var(--color-red-dark);*/
    /*background-color: var(--color-red);*/
}

.card .title {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.card .circle {
    width: 10px;
    height: 10px;
    border-radius: 12px;
    margin: auto 0;
}

.card .circle.green {
    border: solid 2px var(--color-green-dark);
    background-color: var(--color-green);
}

.card .circle.red {
    border: solid 2px var(--color-red-dark);
    background-color: var(--color-red);
}

.card div.title-text {
    padding-left: 6px;
}

.card div.text {
    padding-top: 5px;
}

.help-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
