#border {

    width: .5%;
    height: 100%;
    background: rgba(22, 185, 231, 0.1);

    cursor: pointer;

    z-index: 2;

    transition: width .2s, background-color .2s;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    /*box-shadow: -5px 0px 7px 0px var(--color-blue-dark);*/

    /*border-right: 1px solid var(--color-blue);*/
}

#border:hover {
    border-right: 0;
    background-color: var(--color-blue);
    width: 1%;
}

#border.active {
    background-color: var(--color-blue-dark);
}

#border:hover > input {
    /*background-color: var(--color-blue);*/
}
