#modal {
    position: absolute;
    right: 0;
    width: 33%;
    height: 100%;

    /*font-weight: 600;*/

    background-color: var(--color-blue);
    color: var(--color-white);
    z-index: 2;

    box-sizing: border-box;
    /*padding: 20px;*/

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    /*position: relative;*/
}

#modal div:not(#modal-buttons) {
    padding: 20px 20px 0;
}

#modal-buttons {
    position: absolute;
    bottom: 0;
    /*right: 0;*/
    /*left: 0*/
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    text-align: right;
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
    /*line-height: var(--font-size-small);*/
    /*line-height: ;*/

    cursor: pointer;
}

#modal-buttons span:hover {
    color: var(--color-blue-dark);
    cursor: pointer;
}

.hide {
    display: none;
}
